:root {
  --ifm-color-primary: #0b4f6c;
  --ifm-color-primary-dark: #094359;
  --ifm-color-primary-darker: #08394d;
  --ifm-color-primary-darkest: #062c3c;
  --ifm-color-primary-light: #0e5c7f;
  --ifm-color-primary-lighter: #0f628a;
  --ifm-color-primary-lightest: #1373a2;
}

main {
  max-width: 960px;
  margin: 0 auto;
}
